::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #989898;
	background-color: rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #5a5a5a;
}

::-webkit-scrollbar-thumb {
    background-color: #989898;
}

/* FLAT FONTS */
@font-face {
    font-family: FlatThin;
    src: url("../fonts/Raleway-Thin.ttf");
}
@font-face {
    font-family: FlatLight;
    src: url("../fonts/Raleway-Light.ttf");
}
@font-face {
    font-family: FlatBold;
    src: url("../fonts/Raleway-Bold.ttf");
}

/* HANDWRITE FONT */
@font-face {
    font-family: handwrite;
    src: url("../fonts/magnolia_script.otf");
}

html {
    background-color: #1E232A;
    margin: -8px;
    color: #DDDDDD;
    font-family: Arial;
    overflow: hidden;
    cursor: default;
}
h2 {
    display: inline-block;
    margin-left: 10px;
    font-family: FlatBold;
    font-size: 0.9em;
}
div.leftPart {
    float: left;
    width: 20%;
    height: 100%;
    background-color: rgb(49, 56, 66)
}
div.rightPart {
    float: left;
    width: 80%;
    height: 100%;
    background-color: #1E232A;
    overflow-y: scroll;
}
h3 {
    font-family: FlatLight;
}
li {
    width: 100%;
    height: 1.3em;
    list-style-type: none;
    background-color: #989898;
}
div.cat {
    font-family: FlatLight;
    color: #e3e3e3;
    padding: 8px;
    cursor: pointer;
}
div.cat:hover {
    background-color: #1b2121;
}
div#page {
    width: 78%;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(235, 237, 241);
    color: black;
    padding: 30px;
    box-shadow: 2px 4px 11px 0px black;
}
table {
    border-collapse: collapse;
    color: black;
    width: 100%
}
table, th, td {
    font-family: FlatLight;
    padding-left: 8px;
    background-color: #FFFFFF;
}
th {
    background-color: #cccccc;
}
.editable {
    cursor: text;
    color: #222222;
}
.red {
    color: rgb(209, 48, 48);
}
.clicable {
    cursor: pointer;
}
.large {
    padding: 11px;
    margin-bottom: 5px;
}
/***************************************************************************************************
 *                                        COLOR PICKER CSS                                         *
 ***************************************************************************************************/
.colorpicker {
    width: 100px;
    background-color: rgba(93, 96, 102, 0.6);
    border-radius: 9px;
    padding: 3px;
    position: absolute;
    z-index: 2;
    box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.38);
    transform: translate(-56px, 17px);
}
.colorbutton {
    width: 14px;
    height: 12px;
    border: none;
    margin: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    cursor: pointer;
}
.arrow-up {
    width: 0;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(93, 96, 102, 0.6);
    position: absolute;
    top: -8px;
    left: 48px;
}
button.btn {
    border: none;
    background-color: #cccccc;
    padding: 5px;
}
.alignRight {
    display: block;
    float: right;
}
TD.matiereTD {
    padding: 3px;
    border-radius: 3px;
    text-align: center;
}
