<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Aperçu de l'exportation</title>
	<link rel="stylesheet" type="text/css" href="../../node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/outputWindow.css">
	<style id="customStyle"></style>
</head>

<body>
	<div id="content"></div>
</body>
<footer>
	<script src="../../node_modules/code-prettify/loader/run_prettify.js?skin=default"></script>
	<script src="../../node_modules/mathjax/MathJax.js?config=AM_HTMLorMML-full"></script>
	<script type="text/javascript">
		// Importing and creating electron aliases
		const electron 		= require('electron')
		const BrowserWindow = electron.BrowserWindow
		const ipc = require('electron').ipcRenderer
		const { ipcRenderer } = require('electron')
		const effecteur = require('../mainDrawWindow/Effecter.js')

		const content = document.getElementById("content")

		// Réglages de la previsualisation
		let reglages = {
			format: ''
		}

		function applyRawCss(css) {
			if (!css) return
			// On récupère l'élément de style
			let style = document.getElementById('customStyle')
			// On supprime tous les noeuds enfants
			while (style.firstChild) {
				style.removeChild(style.firstChild);
			}
			// On ajoute notre style au noeud
			style.appendChild(document.createTextNode(css))
		}

		function setCSS(stylesheet) {
			console.log("setCSS", stylesheet)
			applyRawCss(stylesheet)
		}

		// Quand le main.js à envoyé tous les éléments de la note, on attend que MathJax ait fini le rendu et on
		// Envoie l'ordre d'imprimer
		function onUploadedContent() {
			MathJax.Hub.Register.StartupHook("End", function () {
				var images = document.querySelectorAll('img')
				let transformations = new Array()
				Array.from(images).forEach((image) => {
					if (image.className != "schema") {
						// Pour chaque image du document n'étant pas un schéma
						let transformation = effecteur.whiteTransformation(image)
						transformation.then((result) => {
								image.src = result
						})
						// On applique une transformation (asynchrone)
						transformations.push(transformation)
					}
				})
				// Quand les transformations sont terminées, on informe le mainProcess qu'on peut générer le fichier.
				Promise.all(transformations).then(()=>ipc.send('makeFile', reglages.format))

				// setTimeout(()=>ipc.send('makeFile'), 1000)
				// var browser = new BrowserWindow({
				// 	width: 1024,
				// 	height: 600,
				// 	titleBarStyle: "default",
				// 	movable: true,
				// 	frame: true,
				// 	backgroundColor: '#1E232A',
				// 	//resizable: false,
				// 	autoHideMenuBar: true
				// })
				
			})
		}

		ipcRenderer.on('addDiv', (event, content, index) => addDiv(content, index))
		ipcRenderer.on('uploadedContent', (event) => onUploadedContent())
		ipcRenderer.on('setFormat', (event, format) => reglages.format=format)
		ipcRenderer.on('setCSS', (event, css) => setCSS(css))
		ipcRenderer.on('setContent', (event, noteContent) => content.innerHTML = noteContent)
	</script>
</footer>

</html>