.note-editor.note-frame .note-editing-area .note-editable {
  background-color: #282F37;
  color: rgb(228, 228, 228);
  /* height: 88vh; */
  padding: 13px 5vw 0px 5vw;
}
.note-toolbar {
  position: relative;
  z-index: 3;
  text-align: center;
}
.note-popover .popover-content, .card-header.note-toolbar {
  background: #36404c;
  opacity: 0.97;
  position: fixed !important;
  margin-top: 25px;
  width: 100vw;
  margin-left: auto; margin-right: auto;
}
.note-editor.note-frame .note-editing-area {
  overflow: hidden;
  margin-top: 100px;
}
.note-editor.note-frame .note-statusbar {
  display: none;
}
.note-editor.note-frame {
  border: none;
}
.note-editor.note-frame {
  /* margin-top: 60px; */
}
.btn-sm, .btn-group-sm>.btn {
  padding: 0.15rem 0.6rem 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 5px;
  font-size: 1em;
  height: 29px!important;
}
.btn i {
  font-size: 1.1rem;
  line-height: inherit;
}
/*
FROM BOOTSTRAP */
.card {
  background: transparent;
}