@font-face {
    font-family: handwrite;
    src: url("../fonts/magnolia_script.otf");
}
body {
	font-family: "Arial", Times, sans-serif;
	margin-left: 15px;
	margin-right: 15px;
}
span.k {
	color: #FFFFFF;
	background-color: #333333;
	padding: 2px;
	font-size: 1.3em;
	border-radius: 5px;
	margin: 1px;
}
h1, h2, h3 {
	font-family: handwrite;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.4em;
	text-align: center
}
img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	-webkit-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.24);
	box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.24);
}
.block {
	background-color: #DDDDDD;
	max-width: 800px;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
button#headerButton {
	background-color: #3F4355;
	display: inline-block;
	padding-left: 7px;
	padding-right: 7px;
	color: #DDE0E0;
	border: none;
	height: 23px;
}