<!DOCTYPE html> 
<html lang="fr">
<head>
	<title>NoxuNote</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../../../node_modules/html5tooltipsjs/html5tooltips.css">
	<link rel="stylesheet" type="text/css" href="../../../node_modules/html5tooltipsjs/html5tooltips.animation.css">
	<link rel="stylesheet" href="./materializecss-custom.css">
	<link rel="stylesheet" href="./bootstrap-sandstone.min.css">
	<link rel="stylesheet" href="./customBootstrap.css">
	<link rel="stylesheet" href="./customMaterialize.css">
	<link rel="stylesheet" href="./fullscreenLoader.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="../../../node_modules/summernote/dist/summernote-bs4.css">
	<link rel="stylesheet" href="./customEditor.css">
	<link rel="stylesheet" href="./modals.css">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<script src="../../../node_modules/code-prettify/loader/run_prettify.js"></script>	
</head>

<header>
	<div id="fullscreenLoader">
		<div>
			<span class="focus-in-contract-bck">NoxuNote</span>
		</div>
	</div>
	<div id="barre_haut">
		<div id="windowTitle"></div>
		<div id="windowTitleText">
			<div id="TitrePrincipal" onClick='triggerSaveEdit()'>(Cliquez pour nommer la note)</div>
			<div id="matiere" onClick='triggerSaveEdit()' style="display: none"></div>
			<i id="isModified" class="fas fa-save" data-tooltip="Enregistrer (Ctrl/CMD + S)" data-tooltip-stickto="right" data-tooltip-delay="0s" data-tooltip-color="slate" data-tooltip-animate-function="foldin" onclick="
			save_as_noxunote()"></i>
		</div>
		<div id="trayButtons">
			<i onClick="ipc.send('minimizeWindow')" class="fas fa-window-minimize pointable" style="color: rgb(100, 129, 184); font-size: 1.1em; margin-right: 5px;"></i>
			<i id="maximizeButton" onClick="ipc.send('maximizeWindow')" class="fas fa-window-maximize pointable" style="color: rgb(184, 150, 100); font-size: 1.1em; margin-right: 5px"></i>
			<i onClick="closeWindow()" class="fas fa-times pointable" style="color: rgb(169, 71, 71); font-size: 1.3em"></i>
		</div>
	</div>
	<div id="toDoBlock" class="toDoBlock">
		<i id="triggerTodo2" class="fas fa-times leftPannelClose" style="top: 5px"></i>
		<div id="toDoBlockheader" class="toDoTitle">À faire</div>
		<textarea name="toDoContent" id="toDoContent" placeholder="(Tout ce que vous notez ici est sauvegardé et conservé, ce calepin vous suivra sur toutes vos notes)"></textarea>
	</div>
	<div id="infoBlock">
		<i id="triggerInfoBlock" class="fas fa-times leftPannelClose" style="top: 5px"></i>
		<h2>Aide</h2>
		<hr>
		<h3>Raccourcis</h3>
		<p>Tapez l'un des caractères mis en gras suivants pour utiliser le raccourci associé.</p>
		<ul>
			<li><b>#</b> Petit titre</li>
			<li><b>##</b> Moyen titre</li>
			<li><b>###</b> Grand titre</li>
		</ul>
		<p>CTRL/CMD + E - Insérer une formule</p>
		<hr>
		<h3>Signaler un bug</h3>
		<p>
			Envoyez un message sur le support. Vérifiez que votre bug n'a pas été déjà signalé.
		</p>
		<button class="btn btn-primary" onclick="shell.openExternal('https:\/\/community.noxunote.fr/t/support')">Accéder au support</button>
	</div>

	<div id="menuGaucheOuvrir" class="mlateral mlateral-gauche p-0">
		<i id="menuGaucheOuvrirTrigger" class="fas fa-times leftPannelClose" onclick="boutonMenuGaucheOuvrir()"></i>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-3 browseColumn pt-2">
					<h2>Stockage</h2>
					<div id="allMat" class="matiere mt-4">
						<i class="far fa-hdd"></i> Toutes les notes
						<div id="allMatNotesCount" class="float-right"></div>
					</div>
					<h5 class="mt-4">Ce PC
						<button type="button" class="btn btn-sm btn-light float-right" onClick="openSettings('Matières')">
							<i class="fas fa-plus"></i>
						</button>
					</h5>
					<div id="matList"></div>
					<h5 class="mt-4">Outils</h5>
					<ul>
						<li><button class="btn btn-secondary mt-3" onclick="ipcRenderer.send('importBackupNote')">Importer</button></li>
						<li><button class="btn btn-secondary mt-3" onclick="openSettings('Sauvegarde')">Créer une sauvegarde</button></li>
					</ul>
				</div>
				<div class="col-md-4 browseColumn pl-0 pr-0 pt-2">
					<h2 class="pl-4"> Notes</h2>
					<input id="fileTextSearch" type="text" class="form-control fileSearch" placeholder="Rechercher" required="">
					<div id="filesList"></div>
				</div>
				<div class="col-md-5 pl-4 pt-2 overflow-auto">
					<h2> Aperçu</h2>
					<div id="fileLookup"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="menuBasCalc">
		<div style="float: left; margin-top: 1px;  margin-bottom: 1px;">
			<span class="calcText">Calculateur</span> 
			<input id="calc" type="text" name="expr">
			<span class="calcText">=</span>
			<span id="calcResult" class="calcText">0</span>
		</div>
		<div style="float: right; margin-top: 1px;  margin-bottom: 1px; margin-right: 5px;">
			<span class="calcText">Dérivateur</span> 
			<input id="calcDerivative" type="text" name="expr">
			<span class="calcText">=</span>
			<span id="calcResultDerivative" class="calcText">0</span>
		</div>
	</div>

	<div class="fixed-action-btn">
		<a class="btn-floating btn-large red">
			<img src="../../images/LOGO_SVG.svg" class="multimenu_logo">
		</a>
		<ul>
			<li class="multimenu_btn" onclick="openSettings()"><a class="btn-floating red" data-tooltip="⚙️ Réglages" data-tooltip-stickto="left" data-tooltip-delay="0s" data-tooltip-color="slate" data-tooltip-animate-function="foldin">
				<i class="fas fa-cog"></i>
			</a></li>
			<li id="triggerTodo" class="multimenu_btn"><a class="btn-floating orange darken-1" data-tooltip="📒 Block notes" data-tooltip-stickto="left" data-tooltip-delay="0s" data-tooltip-color="slate" data-tooltip-animate-function="foldin">
				<i class="fas fa-sticky-note"></i>
			</a></li>
			<li id="triggerCalc" class="multimenu_btn"><a class="btn-floating yellow darken-1" data-tooltip="➗ Calculatrice" data-tooltip-stickto="left" data-tooltip-delay="0s" data-tooltip-color="slate" data-tooltip-animate-function="foldin">
				<i class="fas fa-calculator"></i>
			</a></li>
			<li class="multimenu_btn" onclick="openExport()"><a class="btn-floating green" data-tooltip="🖨️ Exporter la note" data-tooltip-stickto="left" data-tooltip-delay="0s" data-tooltip-color="slate" data-tooltip-animate-function="foldin">
				<i class="fas fa-file-export"></i>
			</a></li>
			<li class="multimenu_btn" onclick="boutonMenuGaucheOuvrir()"><a class="btn-floating blue" data-tooltip="📂 Ouvrir" data-tooltip-stickto="left" data-tooltip-delay="0s" data-tooltip-color="slate" data-tooltip-animate-function="foldin">
				<i class="fas fa-folder-open"></i>
			</a></li>
			<li class="multimenu_btn" onclick="save_as_noxunote();triggerSaveEdit()"><a class="btn-floating indigo" data-tooltip="💾 Enregistrer" data-tooltip-stickto="left" data-tooltip-delay="0s" data-tooltip-color="slate" data-tooltip-animate-function="foldin">
				<i class="fas fa-save"></i>
			</a></li>
			<li class="multimenu_btn" onclick="newFile()"><a class="btn-floating purple" data-tooltip="✏️ Nouvelle note" data-tooltip-stickto="left" data-tooltip-delay="0s" data-tooltip-color="slate" data-tooltip-animate-function="foldin">
				<i class="fas fa-plus"></i>
			</a></li>
		</ul>
	</div>
	
	<div id="notification" class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 id="notification-title" class="card-title"></h5>
			<p id="notification-content" class="card-text"></p>
			<div class="notification-footer">
				<button id="notification-b1" type="button" class="btn btn-primary"></button>
				<button id="notification-b2" type="button" class="btn btn-secondary"></button>
				<button type="button" class="btn btn-secondary" onclick="notificationService.hideNotification()">Fermer</button>
			</div>
		</div>
	</div>
	
</header>

<body>
	<div id="modals">
		<!-- Choix Media Modal -->
		<div class="modal fade" id="choixMediaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Insérer un média</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body" style="text-align: center">
							<h1>Image</h1>
							<div class="media-largebutton" onClick="modalManager.openModal('imageByUrlModal')">
								<i class="fas fa-link"></i>
								<br>URL
							</div>
							<div class="media-largebutton" onClick="modalManager.openModal('imageByFileModal')">
								<i class="far fa-file-image"></i>
								<br>Fichier
							</div>
							<div class="media-largebutton" onClick="modalManager.closeAllModal(); dessiner()">
								<i class="fas fa-pencil-ruler"></i>
								<br>Schéma
							</div>
							<br><br>
							<h1>Vidéo</h1>
							<div class="media-largebutton">
								<i class="fas fa-link"></i>
								<br>URL
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Insert Image by link modal -->
		<div class="modal fade" id="imageByUrlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Insérer une image via URL</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body" style="text-align: center">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-default">URL</span>
							</div>
							<input placeholder="http://example.com/image.jpg ..." id="imageByUrlValue" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onClick="insertImageFromUrl()">Importer</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Insert Image by file modal -->
		<div class="modal fade" id="imageByFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Insérer une image via des fichiers</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body" style="text-align: center">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-default">Fichier(s)</span>
							</div>
							<input id="imageByFileValue" type="file" multiple="multiple" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onClick="insertImageFromFile()">Importer</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>

		<!-- saveConfirmation -->
		<div class="modal fade" id="saveConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" style="cursor: pointer" data-toggle="collapse" href="#catCollapse" id="exampleModalLabel"><i class="fas fa-exclamation-triangle"></i> Note modifiée</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span>&times;</span>
						</button>
					</div>
					<div class="collapse" id="catCollapse">
						<img src="./images/stone_cat.gif">
					</div>
					<div class="modal-body" style="text-align: center">
						Voulez vous enregistrer vos dernières modifications avant de quitter cette note ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onClick="save_as_noxunote(); saveConfirmationModalAction.call(); modalManager.closeAllModal()" data-dismiss="modal">Oui</button>
						<button type="button" class="btn btn-secondary" onClick="saveConfirmationModalAction.call(); " data-dismiss="modal">Non</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Insert Equation modal -->
		<div class="modal fade" id="equationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Insérer une équation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body" style="text-align: center">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default">Preset</span>
								</div>
								<select id="equationPreset" class="form-control" onchange="equationManager.chosenModel()">
									<option value="default" selected="selected">...</option>
									<optgroup>Analyse</optgroup>
									<option value="limit">Limite</option>
									<option value="sum">Somme</option>
									<option value="integral">Intégrale</option>
									<optgroup>Vecteurs</optgroup>
									<option value="vector">Vecteur</option>
									<option value="columnvector">Vecteur colonne</option>
									<optgroup>Matrices</optgroup>
									<option value="matrix2x2">2x2</option>
									<option value="matrix3x3">3x3</option>
									<optgroup>Accolades</optgroup>
									<option value="system">Système d'équations</option>
									<option value="accsup">Accolades supérieures</option>
									<option value="accinf">Accolades inférieures</option>
								</select>							
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-default">Formule</span>
								</div>
								<input placeholder="lim_(x->oo) f'(x) = 0" id="equationValue" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" onkeyup="equationManager.onKeyUp(event)">
							</div>
							<div class="mb-3">
								<h5>Aperçu</h5>
								<div class="bg-white text-dark mx-auto p-5 w-75 rounded" id="equation¨Preview">
									<!-- Here goes the MathJax preprocessed result -->
								</div>
								<p>Historique</p>
								<div id="equationHistory">
									<!-- Here goes the rendered nodes history -->
								</div>
								<p>Documentation complète disponible sur <a href="http:\/\/asciimath.org/#syntax" onclick="ipcRenderer.send('loadExternalLink', 'http:\/\/asciimath.org/#syntax'); return false">asciimath.org</a></p>
							</div>
						</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onClick="equationManager.insertEquation();equationManager.disableEditingMode()">Importer</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="equationManager.disableEditingMode()">Fermer</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="editorRoot">
		<div id="summernote"></div>
	</div>

</body>

<footer>
	<script src="../../../node_modules/code-prettify/loader/run_prettify.js?skin=sons-of-obsidian"></script>
	<style>
	.prettyprint {
		background: rgba(0, 0, 0, 0.34);
		padding: 4px;
		margin: 0px;
	}	
	</style>
	<script>var exports = {"__esModule": true};</script>
	<script src="../../../node_modules/html5tooltipsjs/html5tooltips.js"></script>
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
	<script src="../../../node_modules/popper.js/dist/umd/popper.min.js"></script>
	<script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../../../node_modules/summernote/dist/summernote-bs4.min.js"></script>
	<script src="../../../node_modules/summernote/lang/summernote-fr-FR.js"></script>
	<script src="../../../node_modules/mathjax/MathJax.js?config=AM_HTMLorMML-full"></script>
	<script src="draggable.js"></script>
	<script src="mainWindow.js"></script> <!-- Electron Script -->
	<script src="keyShortcuts.js"></script> <!-- Electron Script -->
	<script src="fab.js"></script>
	<script src="osAdaptation.js"></script>
</footer>
</html>
