.media-largebutton {
    display: inline-block;
    width: 150px;
    height: 120px;
    padding-top: 26px;
    /* color: white; */
    background-color: rgb(113, 137, 160);
    font-size: 2.0em;
    text-align: center;
    margin-right: 14px;
    margin-bottom: 14px;
    transition: background-color 0.2s;
    cursor: pointer;
}
.media-largebutton:hover {
    background-color: rgb(144, 165, 186);
    transition: background-color 0.2s;
}
.historyEquation {
    margin: 8px;
    width: max-content;
    padding: 5px;
    box-shadow: 0 0 7px 0px #0000006e;
    background-color: #fbfbfb;
    color: #383838;
    cursor: pointer;
    display: inline-block;
    /* Le parent est dÃ©clarÃ© en position relative, ce qui n'a aucune influence sur lui */
    /* Son enfant sera donc positionnÃ© relativement Ã  celui-ci */
    position: relative;
}
.historyDeleteButton {
    color: #c66565;
    /* display: block; */
    background-color: #dcdcdc;
    width: 17px;
    height: 17px;
    border-radius: 20px;
    line-height: 0;
    /* IMPORTANT : Pour que la position absolue de l'enfant .historyDeleteButton soit relative
     * au parent, on doit dÃ©clarer le parent en position relative. */
    position: absolute;
    top: -9px;
    right: -10px;
    padding-top: 1px;
}