<html>

<head>
    <title>
        Réglages
    </title>
    <link rel="stylesheet" type="text/css" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="settings.css">
</head>

<body>

    <div class="leftPart">
        <h2>Réglages</h2>
        <div class="cat" onClick="show(this.innerHTML)">
            Général
        </div>
        <div class="cat" onClick="show(this.innerHTML)">
            Matières
        </div>
        <div class="cat" onClick="show(this.innerHTML)">
            Dactylographie
        </div>
        <div class="cat" onClick="show(this.innerHTML)">
            Sauvegarde
        </div>
    </div>

    <div class="rightPart">
        <div id="page">
            <!-- ICI LE CONTENU DE LA PAGE -->
            <p>Cliquez sur une catégorie pour atteindre</p>
            <div id="tui-color-picker-conatiner"></div>
        </div>
    </div>

    <div style="visibility: hidden">
        <div id="Général">
            <h3>Réglages Généraux</h3>
            <p>Dossier de stockage des notes et réglages :</p>
            <code id="path"></code>&nbsp;&nbsp;<button id="openNoxuFolder" class="btn btn-primary btn-sm">Ouvrir</button>
        </div>
        <div id="Matières">
            <h3>Gérer les matières</h3>
            <p>Ajoutez et supprimer les matières dans lesquelles sont rangées vos notes.</p>
            <table id="tableMatieres">
                <tr style="background-color: #CCCCCC">
                    <th class="large">Matière</th>
                    <th class="large"></th>
                    <th class="large">Suppr.</th>
                </tr>
            </table>
            <br>
            <div style="height: 30px;">
                <button class="btn btn-primary alignRight" onClick="ajouterMatiere()">Ajouter
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div id="Dactylographie">
            <h3>Raccourcis de mots</h3>
            <p>Indiquez les mots que vous utilisez le plus souvent. Ils vous seront suggerés dès que vous commencerez à les taper dans l'éditeur.</p>
            <p>Pressez alors ENTRÉE pour insérer le mot complet.</p>
            <div class="alert alert-warning" role="alert">
                Vous devez redémarrer NoxuNote pour que vos changements soient pris en compte.
            </div>
            <table id="tableAssoc">
                <tr style="background-color: #CCCCCC">
                    <th class="large">Abréviation</th>
                    <th class="large">Suppr.</th>
                </tr>
            </table>
            <br>
            <div style="height: 30px;">
                <button class="btn btn-primary alignRight" onClick="ajouterAssoc()">Ajouter
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div id="Sauvegarde">
            <h3>Sauvegarde</h3>
            <p>Créez une archive contenant vos notes, images, et matières.</p>
            <button class="btn btn-primary" id="createSave">Créer</button>
        </div>
    </div>

</body>

<footer>
    <script>var exports = {"__esModule": true};</script>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="ColorPicker.js"></script>
    <script src="./settings.js"></script>
</footer>

</html>