@font-face {
	font-family: FlatThin;
	src: url("../fonts/Raleway-Thin.ttf");
}
@font-face {
	font-family: FlatLight;
	src: url("../fonts/Raleway-Light.ttf");
}
@font-face {
	font-family: FlatBold;
	src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
	font-family: handwrite;
	src: url("../fonts/magnolia_script.otf");
}
div#content {
	width: 21cm;
}
em {
	color: #16150B;
    background-color: rgba(229, 234, 65, 0.89);
    padding: 0.1em;
    font-style: normal;
}
span#important {
	background-color: #C95705;
	border-radius: 3px;
	color: #FFFFFF;
	padding: 5px;
	display: inline-block;
	margin-top: 3px;
}
span#optionnal {
	display: block;
	text-align: right;
	font-size: 0.8em;
	color: #9FA2A1;
}
img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.encadre {
	border: 2px solid #121212;
	padding: 1px;
}