.canvas-container {
  background-color: #36404c;
}
input {
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 3px;
  width: 100px;
}
.ui {
  position: fixed
}
.ui-topleft {
  top: 5px;
  left: 5px;
}
.ui-left {
  left: 5px;
  top: 50vh;
}
.uiBar {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.637)
}