<html>

<head>
</head>
<header>
    <title>NoxuNote - Dessin</title>
    <link rel="stylesheet" type="text/css" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/html5tooltipsjs/html5tooltips.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/html5tooltipsjs/html5tooltips.animation.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./custom-bootstrap.css">
    <link rel="stylesheet" href="draw.css">
</header>

<body>
    <canvas id="canvas"></canvas>
    <div id="ui">
        <div class="ui ui-left">
            <div class="uiBar uiBar-vertical">
                <button class="btn"
                    v-bind:class="{'btn-primary': ui.controlBars.grid, 'btn-secondary': !ui.controlBars.grid}"
                    onclick="enableControlBar('grid')">
                    <i class="fas fa-border-none"></i>
                </button>
                <button class="btn"
                    v-bind:class="{'btn-primary': ui.controlBars.objects, 'btn-secondary': !ui.controlBars.objects}"
                    onclick="enableControlBar('objects')">
                    <i class="fas fa-shapes"></i>
                </button>
            </div>
        </div>
        <div class="ui ui-topleft">
            <div v-if="ui.controlBars.grid" class="uiBar">
                <button class="btn btn-secondary" onclick="canvasGrid.toggleGrid()">
                    Grille <span class="badge badge-dark">{{ grid.showGrid ? 'On' : 'Off' }}</span>
                </button>
                <button class="btn btn-secondary" onclick="canvasGrid.toggleSnapToGrid()">
                    Coller à la grille <span class="badge badge-dark">{{ grid.snapToGrid ? 'On' : 'Off' }}</span>
                </button>
                Échelle : <input type="number" class="form-control-number" v-model="grid.gridSize"
                    @change="gridSizeChangeEvt">
            </div>
            <div v-if="ui.controlBars.objects" class="uiBar">
                <button class="btn btn-secondary" onclick="shapeInserter.insert('square')">
                    <i class="far fa-square"></i>
                </button>
                <button class="btn btn-secondary" onclick="shapeInserter.insert('circle')">
                    <i class="far fa-circle"></i>
                </button>
            </div>
        </div>
        <div class="ui ui-botLeft">
            <p v-if="ui.zoomFactor != 1" style="width: 130px">
                Échelle : {{ ui.zoomFactor.toFixed(2) }}
            </p>
        </div>
        <div v-if="canvas!=null" class="ui ui-right ui-solidBlock">
            <div v-if="selected.length">
                <h4>selected</h4>
                <div v-if="selected.length == 1">
                    <h6>Proprietés de {{ $t(selected[0].type) }}</h6>
                    <form action="javascript:void(0);">
                        <div v-for="property in ShapeInserter.getProperties(selected[0])" class="form-group">
                            <label v-bind:for="'edit_'+property.name"></label>{{ $t(property.name) }} :
                            <input v-if="property.type == 3" v-bind:id="'edit_'+property.name" type="color" class="form-control" v-bind:value="property.value" @change="handlePropertyChange($event, property, selected[0])">
                            <input v-if="property.type == 1" v-bind:id="'edit_'+property.name" type="range" class="form-control custom-range" min=0 max=8 step=1 v-bind:value="property.value" @change="handlePropertyChange($event, property, selected[0])">
                            <input v-if="property.type == 0" v-bind:id="'edit_'+property.name" type="number" class="form-control" v-bind:value="property.value" @change="handlePropertyChange($event, property, selected[0])">
                            <input v-if="property.type == 2" v-bind:id="'edit_'+property.name" type="range" class="form-control custom-range" min=0 max=1 step=0.05 v-bind:value="property.value" @change="handlePropertyChange($event, property, selected[0])">
                        </div>
                    </form>
                </div>
                <div v-if="selected.length > 1">
                    <h6>Objets sélectionnées ({{selected.length}}) :</h6>
                    <div v-for="obj in selected">
                        {{ $t(obj.type) }}
                    </div>
                    <h6>Proprietés communes</h6>
                    <div v-for="property in ShapeInserter.getCommonProperties(selected)">
                        {{ property.name }} : {{ property.value }}
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h4>Objets</h4>
                <button v-if="canvas.getActiveObject() && canvas.getActiveObject().type == 'activeSelection'" class="btn btn-secondary" @click="canvas.getActiveObject().toGroup();updateSelectedObjs()"><i class="fas fa-object-group"></i></button>               
                <button v-if="canvas.getActiveObject() && canvas.getActiveObject().type == 'group'" class="btn btn-secondary" @click="canvas.getActiveObject().toActiveSelection();updateSelectedObjs()"><i class="fas fa-object-ungroup"></i></button>               
                <button class="btn btn-secondary" @click="selected.forEach(o=>canvas.sendToBack(o))"><i class="fas fa-angle-double-down"></i></button>               
                <button class="btn btn-secondary" @click="selected.forEach(o=>canvas.sendBackwards(o))"><i class="fas fa-angle-down"></i></button>               
                <button class="btn btn-secondary" @click="selected.forEach(o=>canvas.bringForward(o))"><i class="fas fa-angle-up"></i></button>               
                <button class="btn btn-secondary" @click="selected.forEach(o=>canvas.bringToFront(o))"><i class="fas fa-angle-double-up"></i></button>               
            </div>
        </div>
    </div>
</body>
<footer>
    <script>var exports = { "__esModule": true };</script>
    <script src="../../../node_modules/html5tooltipsjs/html5tooltips.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./draw.js"></script>
</footer>

</html>