<html>

<head>
</head>
<header>
    <title>NoxuNote - Dessin</title>
    <link rel="stylesheet" type="text/css" href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../../node_modules/html5tooltipsjs/html5tooltips.css">
	<link rel="stylesheet" type="text/css" href="../../../node_modules/html5tooltipsjs/html5tooltips.animation.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="draw.css">
</header>

<body>
    <canvas id="canvas"></canvas>
    <div id="ui">
        <div class="ui ui-left">
            <div class="uiBar uiBar-vertical">
                <button class="btn"
                    v-bind:class="{'btn-primary': ui.controlBars.grid, 'btn-secondary': !ui.controlBars.grid}"
                    onclick="enableControlBar('grid')">
                    <i class="fas fa-border-none"></i>
                </button>
                <button class="btn"
                    v-bind:class="{'btn-primary': ui.controlBars.objects, 'btn-secondary': !ui.controlBars.objects}"
                    onclick="enableControlBar('objects')">
                    <i class="fas fa-shapes"></i>
                </button>
            </div>
        </div>
        <div class="ui ui-topleft">
            <div v-if="ui.controlBars.grid" class="uiBar">
                <button class="btn btn-secondary" onclick="canvasGrid.toggleGrid()">
                    Grille <span class="badge badge-dark">{{ grid.showGrid ? 'On' : 'Off' }}</span>
                </button>
                <button class="btn btn-secondary" onclick="canvasGrid.toggleSnapToGrid()">
                    Coller à la grille <span class="badge badge-dark">{{ grid.snapToGrid ? 'On' : 'Off' }}</span>
                </button>
                Échelle : <input type="number" class="form-control-number" v-model="grid.gridSize"
                    @change="gridSizeChangeEvt">
            </div>
            <div v-if="ui.controlBars.objects" class="uiBar">
                <button class="btn btn-secondary" onclick="">
                    <i class="far fa-square"></i>
                </button>
                <button class="btn btn-secondary" onclick="">
                    <i class="far fa-circle"></i>
                </button>
            </div>
        </div>
        <div class="ui ui-botLeft">
            <p v-if="ui.zoomFactor != 1" style="width: 130px">
                Échelle : {{ ui.zoomFactor.toFixed(2) }}
            </p>
        </div> 
    </div>
</body>
<footer>
    <script>var exports = { "__esModule": true };</script>
    <script src="../../../node_modules/html5tooltipsjs/html5tooltips.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./draw.js"></script>
</footer>

</html>